<div class="container-fluid">
  <div class="row">
  
    <div class="col-lg-4 sidenav">
  <ul class="list-group list-group-flush html ">

    <li class="list-group-item">
      <span class="text-success font-weight-bold">
      &nbsp; Notes app </span>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">


      <input type="text" placeholder=" search here " id="search" />     
      
      <div 
      *ngFor="let data of myItems; let i = index"
       class="alert alert-info"
        style="width: 100%;">  
        {{data.Value}}  
         
        <a href="#" (click)="DeleteItem(i)" style="float: right;">  
          <span class="glyphicon glyphicon-remove"></span>  
        </a>  
        <a href="#"  (click)="EditItem(i)" style="float: right;padding-right: 5px;">  
          <span class="glyphicon glyphicon-pencil"></span>  
        </a>    

        
        <br> {{today | date:'medium'}}

      </div>  
      <div *ngIf="myItems.length == 0" class="alert alert-info" style="width: 100%;">  
        Items Are Empty !!!  
      </div>  
      </li>  
  </ul>
  </li>
  </ul>
  </div>
  
  <div class="col-md-auto">
    <p style="text-align: center;padding-top: 20px;">        {{today | date:'medium'}} </p>

    
    <!-- Add button to add record -->      
          <button type="submit" (click)="AddItem()" [disabled]="IsForUpdate == true" class="btn btn-default">Add</button>      
          <!-- Update button to submit updated value -->    
          <button type="submit" (click)="UpdateItem()" [disabled]="IsForUpdate == false" class="btn btn-default">Update</button>       
          

    <div class="form-group pt-5 my-10">      
      <!-- Form that gets user input -->      
      <form name="itemForm">      
        <input id="Value" name="Value"
         required [(ngModel)]="newItem.Value"
          minlength="3" maxlength="10"
           style="width: 50%;" 
           placeholder="Enter Any Item"      
          class="form-control">      
      </form>      
      <br>      
</div>      


  </div>






</div> 
<!-- //row -->
 </div>
<!-- //container-fluid   -->